default_shell "bash"
shared_except "locked" {
    bind "Alt f" { 
        LaunchPlugin "filepicker" {
            floating true
            close_on_selection true
        } 
    }
    bind "Alt y" {
        LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
            "lock"                  "ctrl + g"
            "unlock"                "ctrl + g"
            "new pane"              "ctrl + p + n"
            "change focus of pane"  "ctrl + p + arrow key"
            "close pane"            "ctrl + p + x"
            "rename pane"           "ctrl + p + c"
            "toggle fullscreen"     "ctrl + p + f"
            "toggle floating pane"  "ctrl + p + w"
            "toggle embed pane"     "ctrl + p + e"
            "choose right pane"     "ctrl + p + l"
            "choose left pane"      "ctrl + p + r"
            "choose upper pane"     "ctrl + p + k"
            "choose lower pane"     "ctrl + p + j"
            "new tab"               "ctrl + t + n"
            "close tab"             "ctrl + t + x"
            "change focus of tab"   "ctrl + t + arrow key"
            "rename tab"            "ctrl + t + r"
            "sync tab"              "ctrl + t + s"
            "brake pane to new tab" "ctrl + t + b"
            "brake pane left"       "ctrl + t + ["
            "brake pane right"      "ctrl + t + ]"
            "toggle tab"            "ctrl + t + tab"
            "increase pane size"    "ctrl + n + +"
            "decrease pane size"    "ctrl + n + -"
            "increase pane top"     "ctrl + n + k"
            "increase pane right"   "ctrl + n + l"
            "increase pane bottom"  "ctrl + n + j"
            "increase pane left"    "ctrl + n + h"
            "decrease pane top"     "ctrl + n + K"
            "decrease pane right"   "ctrl + n + L"
            "decrease pane bottom"  "ctrl + n + J"
            "decrease pane left"    "ctrl + n + H"
            "move pane to top"      "ctrl + h + k"
            "move pane to right"    "ctrl + h + l"
            "move pane to bottom"   "ctrl + h + j"
            "move pane to left"     "ctrl + h + h"
            "search"                "ctrl + s + s"
            "go into edit mode"     "ctrl + s + e"
            "detach session"        "ctrl + o + w"
            "open session manager"  "ctrl + o + w"
            "quit zellij"           "ctrl + q"
            floating true
        }
    }
    bind "Alt g" { SwitchToMode "Locked"; }
    bind "Alt q" { Quit; }
    bind "Alt n" { NewPane; }
    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    bind "Alt =" "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
}

shared_except "normal" "locked" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
}

shared_except "pane" "locked" {
    bind "Alt p" { SwitchToMode "Pane"; }
}

shared_except "resize" "locked" {
    bind "Alt n" { SwitchToMode "Resize"; }
}

shared_except "scroll" "locked" {
    bind "Alt s" { SwitchToMode "Scroll"; }
}

shared_except "session" "locked" {
    bind "Alt o" { SwitchToMode "Session"; }
}

shared_except "tab" "locked" {
    bind "Alt t" { SwitchToMode "Tab"; }
}

shared_except "move" "locked" {
    bind "Alt m" { SwitchToMode "Move"; }
}

shared_except "tmux" "locked" {
    bind "Ctrl a" { SwitchToMode "Tmux"; }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

on_force_close "quit"
simplified_ui true
default_shell "fish"
pane_frames true
shared_except "locked" {
    bind "Alt f" { 
        LaunchPlugin "filepicker" {
            floating true
            close_on_selection true
        } 
    }
    bind "Alt y" {
        LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
            "lock"                  "ctrl + g"
            "unlock"                "ctrl + g"
            "new pane"              "ctrl + p + n"
            "change focus of pane"  "ctrl + p + arrow key"
            "close pane"            "ctrl + p + x"
            "rename pane"           "ctrl + p + c"
            "toggle fullscreen"     "ctrl + p + f"
            "toggle floating pane"  "ctrl + p + w"
            "toggle embed pane"     "ctrl + p + e"
            "choose right pane"     "ctrl + p + l"
            "choose left pane"      "ctrl + p + r"
            "choose upper pane"     "ctrl + p + k"
            "choose lower pane"     "ctrl + p + j"
            "new tab"               "ctrl + t + n"
            "close tab"             "ctrl + t + x"
            "change focus of tab"   "ctrl + t + arrow key"
            "rename tab"            "ctrl + t + r"
            "sync tab"              "ctrl + t + s"
            "brake pane to new tab" "ctrl + t + b"
            "brake pane left"       "ctrl + t + ["
            "brake pane right"      "ctrl + t + ]"
            "toggle tab"            "ctrl + t + tab"
            "increase pane size"    "ctrl + n + +"
            "decrease pane size"    "ctrl + n + -"
            "increase pane top"     "ctrl + n + k"
            "increase pane right"   "ctrl + n + l"
            "increase pane bottom"  "ctrl + n + j"
            "increase pane left"    "ctrl + n + h"
            "decrease pane top"     "ctrl + n + K"
            "decrease pane right"   "ctrl + n + L"
            "decrease pane bottom"  "ctrl + n + J"
            "decrease pane left"    "ctrl + n + H"
            "move pane to top"      "ctrl + h + k"
            "move pane to right"    "ctrl + h + l"
            "move pane to bottom"   "ctrl + h + j"
            "move pane to left"     "ctrl + h + h"
            "search"                "ctrl + s + s"
            "go into edit mode"     "ctrl + s + e"
            "detach session"        "ctrl + o + w"
            "open session manager"  "ctrl + o + w"
            "quit zellij"           "ctrl + q"
            floating true
        }
    }
    bind "Alt g" { SwitchToMode "Locked"; }
    bind "Alt q" { Quit; }
    bind "Alt n" { NewPane; }
    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    bind "Alt =" "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
}

shared_except "normal" "locked" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
}

shared_except "pane" "locked" {
    bind "Alt p" { SwitchToMode "Pane"; }
}

shared_except "resize" "locked" {
    bind "Alt n" { SwitchToMode "Resize"; }
}

shared_except "scroll" "locked" {
    bind "Alt s" { SwitchToMode "Scroll"; }
}

shared_except "session" "locked" {
    bind "Alt o" { SwitchToMode "Session"; }
}

shared_except "tab" "locked" {
    bind "Alt t" { SwitchToMode "Tab"; }
}

shared_except "move" "locked" {
    bind "Alt m" { SwitchToMode "Move"; }
}

shared_except "tmux" "locked" {
    bind "Ctrl a" { SwitchToMode "Tmux"; }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

on_force_close "quit"
simplified_ui true
pane_frames true

themes {
    kanagawa_dragon {
        fg "#dcdccc"
        bg "#1a1a1a"
        red "#C34043"
        green "#728F66"
        yellow "#9D8F6F"
        blue "#8BA4B0"
        magenta "#ff79c6"
        cyan "#8be9fd"
        orange "#ffb86c"
        black "#282828"
        white "#8D908D"
    } 

    everforest {
        fg "#d3c6aa"
        bg "#282828"
        red "#e67e80"
        green "#a7c080"
        yellow "#dbbc7f"
        blue "#7fbbb3"
        magenta "#d699b6"
        cyan "#83c092"
        orange "#e69875"
        black "#1a1a1a"
        white "#8D908D"
    }
}

theme "everforest"
default_layout "work_everforest"
